*{
	margin: 0;
	padding: 0;
}

@font-face{
    font-family: 'Helvetica Neue';
    src: url(../fonts/helveticaneue-thin-webfont.eot);
    src: url(../fonts/helveticaneue-thin-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/helveticaneue-thin-webfont.woff2) format('woff2'),
         url(../fonts/helveticaneue-thin-webfont.woff) format('woff'),
         url(../fonts/helveticaneue-thin-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	
	margin: auto;
	background: grey;
}
.wrapper{
	margin: auto;
	width: 1000px;
	background: white;
}

.conteiner{
	margin: 0 auto;
	width: 908px;
	background-color: white;
	font-family: "Helvetica Neue", Arial;
}
.cleare{
	clear: both;
}

.header{
	position: relative;
}

.telefone{
	width: 291px;
    height: 22px;
    position: relative;
    margin: 20px 0px 10px 5px;
    float: left;
    
}

.avtoriz{
	width: 495px;
    height: 25px;
    position: relative;
    margin: 18px 0px 10px 15px;
    float: left;
    background-image: url(../img/avtoriz_gradient.png);
    border-radius: 5px;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
}
.avtoriz img{
	position: absolute;
	left: 4px;
	top: 3px;
}

.avtoriz a{
	color: #bfbfbf;
	margin-left: 2px;
}
input{
	width: 112px;
	text-indent: 10px;
}

button{
	background-color: transparent;
	color: white;
	border-color: transparent;
}

span{
	color: white;
}

.navigation{
	width: 76px;
	height: 21px;
	position: relative;
	margin: 18px 0px 10px 15px;
	/*border: 1px solid black;*/
	border-radius: 15px;
	background-color: white;
	text-align: center;
	float: left;
	box-shadow: 1px 3px 10px 1px #000;
}

.navigation img{
	margin: 4px 2px 0px 3px;
}

.main_img img{
	margin-left: -1px;
}
main{
	background-color: white;
	position: relative;
}

.menu{
	height: 33px;
	background-image: url(../img/menu_gradient.png);
	margin-top: 4px;
	/*float: left;*/
	border-radius: 5px;

}

.menu ul{
	float: left;
	margin-left: 100px;	
	margin-top: 4px;
	margin-right: 25px;
}

.menu li{
	float: left;
	width: 115px;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	list-style-type: none;
	border-radius: 40px;
	margin-right: 5px;
	text-transform: uppercase;
	font-size: 14px;
}
.menu li:hover{
	background-color: #154b6d;
}
.menu a{
	text-decoration: none;
	color: #9ca6aa;
}

.cash_box{
	font-size: 12px;
    line-height: 30px;
	/*float: left;*/
}
.cash_box p{
	display: inline;
	color: #9ca6aa;
}
.cash_box span{
	color: blue;
}

.cash_img{
	position: absolute;
	top: 6px;
	right: 187px;
}

.find_po_avto{
	width: 414px;
	height: 133px;
	float: left;
	position: relative;
	margin-left: 5px;
	/*border-color: 1px solid black; ????????? */
	/*background-color: green;*/
	box-shadow: 1px 3px 10px 1px #000;
	border-radius: 15px;
	margin-top: 12px;
}

.find_po_avto_name{
	color: #114165;
	position: absolute;
	top: -5px;
	left: 120px;
	font-size: 18px;
}

.find_po_avto span{
	color: #77858b
}

.find_po_avto h5{
	color: #114165;
	margin-top: 5px;
	margin-left: 15px;
}

.find_po_avto p{
	margin-top: 7px;
	margin-left: 30px; 
	font-size: 9px;
}

.find_po_avto_brand{
	position: absolute;
	top: 20px;
	left: 100px;
}

.find_po_avto_model{
	position: absolute;
	top: 45px;
	left: 100px;
}

.find_po_avto_year{
	position: absolute;
	top: 70px;
	left: 100px;
}

.find_po_avto_complect{
	position: absolute;
	top: 90px;
	left: 100px;
}

.find_po_avto_part2{
	position: absolute;
	top: 0;
	right: 10px;
}

.find_po_avto_part2 h5{
	width: 180px;
	text-align: right;	
}

.find_tires{
	width: 191px;
	height: 133px;
	float: left;
	position: relative;
	margin-right: 10px;
	margin-left: 15px;
	/*border-color: 1px solid black; ????????? */
	/*background-color: grey;*/
	box-shadow: 1px 3px 10px 1px #000;
	border-radius: 15px;
	margin-top: 12px;
	
}

.find_tires h5{
	color: #114165;
	margin-top: 5px;
	margin-left: 15px; 
}

.find_tires p{
	margin-top: 8px;
	margin-left: 10px; 
	font-size: 13px;
}
.size{
	position: absolute;
	top: 23px;
	right: 23px;
}

.R {
	position: absolute;
	top: 49px;
	right: 79px;
}

.sizon{
	position: absolute;
	top: 75px;
	right: 52px;
}

.sizon div{
	height: 13px;
}

select{
	font-size: 10px;
}

.find_tires input{
	width: 20px;
}

.find_tires label{
	font-size: 10px;
	
}
.find_tires label{
	vertical-align: top;
}

.search{
	position: absolute;
	top: 118px;
	right: 10px;
	font-size: 12px;
	font-style: italic;
}

.find_disc{
	width: 266px;
	height: 133px;
	float: left;
	position: relative;
	/*border-color: 1px solid black; ????????? */
	/*background-color: yellow;*/
	box-shadow: 1px 3px 10px 1px #000;
	border-radius: 15px;
	margin-top: 12px;
}

.find_disc span{
	color: #77858b
}

.find_disc h5{
	color: #114165;
	margin-top: 5px;
	margin-left: 15px; 
}

.find_disc p{
	margin-top: 5px;
	margin-left: 30px; 
	font-size: 9px;
}

.find_disc_r{
	position: absolute;
	top: 18px;
	left: 110px;
}

.find_disc_holes{
	position: absolute;
	top: 45px;
	left: 110px;	
}

.find_disc_diameter{
	position: absolute;
	top: 75px;
	left: 110px;
}

.DCO{
	position: absolute;
	top: 5px;
	right: 30px;
	border-left: 1px solid grey; 
}

.DCO p{
	margin-left: 15px;
}

.DCO select{
	margin-left: 15px;
}

h2{
	height: 30px;
	line-height: 30px;
	background-image: url(../img/background_aside_buttonH2.png.);
	background-repeat: no-repeat;
	text-indent: 25px;
	font-size: 13px;
}
h3{
	height: 30px;
	line-height: 30px;
	background-image: url(../img/background_aside_button.png);
	background-repeat: no-repeat;
	text-indent: 35px;
	font-size: 14px;
	margin-left: 5px;
}
.left{
	float: left;
	width: 21%;
	margin-top: 15px;
	/*background-color: yellow;*/

}

.left ul{
	margin-top: 5px;
}

.left li{
	margin-left: 55px;
	text-decoration: none;
	list-style-image: url(../img/background_aside_buttonSmall.png);
	padding: 2px;
}

.main_product{
	float: left;
	width: 58%;
	height: 627px;
	margin-top: 15px;
	background-image: url(../img/background_main_product1px.png);

}
.right{
	float: left;
	width: 21%;
	margin-top: 15px;
	/*background-color: green;*/
}

.right h3{
	margin-left: 15px;
}

.right ul{
	margin-top: 5px;
}

.right li{
	list-style-type: none;
}

.right input{
	width: 20px;
	margin: 10px 12px 5px 20px;
}

.aside_rirht_button{
	width: 80px;
	height: 25px;
	margin-left: 35px;
	margin-top: 20px;
	background-image: url(../img/avtoriz_gradient.png);
	border-radius: 10px;
	color: white;
	font-size: 12px;
}
section{
	width: 140px;
    float: left;
    text-align: center;
    margin-top: 10px;
	margin-left: 28px;
	margin-bottom: 10px; 
}
section h4{
	
}
.bren_logo{
	margin: 0 auto;
	width: 700px;
	margin-top: 40px;
	margin-bottom: 25px;
}

footer{
	margin: 0 auto;
	width: 908px;
	height: 100px;
	background-image: url(../img/background_footer1px.png);
}

.botom_menu ul{
	padding-top: 10px;
	margin-left: 290px;
	
}
.botom_menu li{
	float: left;
	list-style-type: none;
	text-decoration: none;
	color: #bec6c9;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
}

.botom_menu li:hover{
	color: #52abcb;
}

footer p{
	margin-left: 370px; 
	padding-top: 10px;
	color: #7f4740;
}
